<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فواتير</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/pub.css">
    <style>
        body {
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            background-color: #1a237e;
            background: linear-gradient(to right, #2d48df, #350d91d7);

            padding: 10px;
        }
        .navbar .settings,
        .navbar .notifications {
            cursor: pointer;
            color: white;
            transition: color 0.3s ease;
        }
        .navbar .settings:hover,
        .navbar .notifications:hover {
            color: #8b8b87;
        }
        .main {
            display: flex;
            justify-content: center;
            padding: 20px;
            flex-direction: column;
            align-items: center;
            animation: slideIn 0.5s ease forwards;

        }
        .search-box {
            position: relative;
            width: 60%;
            padding: 20px;
            margin-bottom: 20px;

            
        }
        .search-box input {
            width: 90%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid lightgray;
            outline: none;
        }
        button.search-icon {
            position: absolute;
            right: 20px;
            top: 25px;
            padding: 6px;
            border-radius: 30px;
            border: 1px solid hwb(0 83% 17%);
            background-color: #c3c6ee;
            
            cursor: pointer;
            
        }
        button.search-icon:hover {
            background-color: #8c92d3;
            color: white;
        }
        .service-container {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
            width: 60%;
            border-radius: 10px;
            text-align: center;
        }
        .service-icon {
            color: gray;
            margin-bottom: 10px;
        }
        .service-title {
            color: #b8860b;
            margin-bottom: 20px;
        }
        .service-boxes {
            display: flex;
            justify-content: space-around;

        }
        .service-box {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: lightgray;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color:#7447bd !important;

        }
        .service-box span {
            font-size: 15px;
            margin-top: 5px;
            text-decoration: none;

        }
        .service-box:hover{
            background-color: #8c92d3;

            color: white!important}
      
        .service-box .img1{
            
            font-size: 40px;
            margin:auto;
        }

        .service-box .img3{
            margin-left: -7px;
            margin-top: -5px;
        }
        @keyframes slideIn {
            from {
              transform: translateY(-50px);
              opacity: 0;
            }
            to {
              transform: translateY(0);
              opacity: 1;
            }
          }

          @media screen and (max-width: 600px) {
            .service-boxes {
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
            }
            .service-box {
                margin-bottom: 20px;
            }
            .search-box {
                width: 70%;
            }
            .search-box input {
                width: 70%;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid lightgray;
                outline: none;
            }
        }
    </style>
</head>
<body >
    <div class="navbar">
        <form action="/api/auth/logout">
        <a class="settings" href="loginRegister"><i class='fas fa-door-open'></i></a>
         </form>
        <div class="notifications"><i class="fas fa-bell"></i></div>
    </div>
    <div class="main">
        <div class="search-box">
            <input dir="rtl" type="text" placeholder="بحث...">
           <button 
            <button class="search-icon"
             onclick="window.alert('تم البحث')"><i class="fas fa-search"></i></button>
        </div>
        <div class="service-container">
            <i class="fas fa-concierge-bell service-icon"></i>
            <h2 class="service-title">خدمة فواتير</h2>
            <div class="service-boxes">
                <a href="./pay" class="service-box "> <i class="fas fa-credit-card img1"></i> <span> خدمة الدفع</span></a>
                <a href="./facture" class="service-box"> <i class="fas fa-file-invoice img1"></i>  <span>الفاتورة الحالية</span></a>
                <a href="./history" class="service-box">            <i  class="fa fa-history img1" aria-hidden="true"></i>
                    <span>الفواتير السابقة</span>
                </a>
                
            </div>
        </div>
    </div>
    <div class="footer" >
        <a href="" class="profile activeprofile">
            <i class="fas fa-home"></i>
            <p>الصفحة الرئيسية</p>
        </a>

        <a href="./history" class="profile">
            <i class="fa fa-history" aria-hidden="true"></i>
            <p>السجلات</p>
        </a>

        <a href="./userProfile" class="profile">
            <i class="fas fa-user"></i>
            <p>ملفي الشخصي</p>
        </a>
    </div>
    <script>
        document.querySelector('.settings').addEventListener('click', function() {
            alert('تم الخروج من الحساب');
        });

        document.querySelector('.notifications').addEventListener('click', function() {
            alert('تم النقر على جرس الإشعارات');
        });
    </script>
</body>
</html>